.terrain {
    background-color: gray;
    border: 1px solid lightgray;
}

.terrain--forest {
    background-color: green;
}

.terrain--village {
    background-color: red;
}

.terrain--farm {
    background-color: yellow;
}

.terrain--water {
    background-color: blue;
}

.terrain--mountain {
    background-color: black;
}
