.terrain {
    background-color: gray;
    border: 1px solid lightgray;
}

.terrain--mountain {
    background-color: black;
}

.terrain--forest {
    background-color: green;
}

.terrain--farm {
    background-color: yellow;
}
