.sheet-outer {
    width:  100%;
    max-width:  600px;
}

.sheet-wrapper {
    padding-top:  100%;
    position:  relative;
}

.sheet-inner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
}


.sheet {
    flex: 1;
    border: 1px solid black;
    display: grid;
    grid-template-columns:  repeat(11, 1fr);
    grid-template-rows:  repeat(11, 1fr);
}

.space {
    border: 1px dashed black;
    pointer-events: none;
}

.space--pending {
    background-color: blue;
}
